@import "../../node_modules/normalize.css";
@import "./variables";

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div {
  box-sizing: border-box;
}

h2 {
  margin: 30px 0;
  color: $h2Color;
  font-weight: 600;
  font-size: $h2Size;
}

h3 {
  color: $h3Color;
}

p {
  margin: 30px 0;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: $smallScreen) {
  h2 {
    margin: 20px 0;
    font-size: $h2SizeMobile;
  }

  p {
    margin: 20px 0;
  }
}

.hidden {
  display: none !important;
}

.show {
  display: flex !important;
}