$primary-color: #6aab49;

$body-background: #fff;
$navBackground: rgba(255, 255, 255, 0.9);
$navBorderColor: hsla(0, 0%, 100%, .75);
$navColor: #444d56;
$navHoverColor: #999;

$smallScreen: 700px;
$mediaScreen: 860px;

$h2Color: #444;
$h2Size: 32px;
$h2SizeMobile: 28px;
$h3Color: #666;
$h3Size: 24px;

$titleColor: #3c3c3c;
$descSize: 20px;
$fontColor: #555;

$titleBorderColor: rgb(245, 166, 35);
$cardBorderColor: #ccc;

$linkColor: #339af0;
$linkHoverColor: #228be6;
