$primary-color: #6aab49;

$body-background: #fff;
$smallScreen: 768px;

$h2Color: #444;
$h2Size: 32px;
$h2SizeMobile: 28px;
$h3Color: #666;
$h3Size: 24px;

$titleColor: #3c3c3c;
$descSize: 20px;
$fontColor: #555;

$titleBorderColor: rgb(245, 166, 35);
$cardBorderColor: #ccc;
