@import '../styles/variables';

.navBar {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  @media only screen and (max-width: $smallScreen) {
    flex-direction: column;
  }

  .navItem {
    padding: 0 25px;
    cursor: pointer;

    &:hover {
      color: #999;
    }
  }
}

